html {
	background-color: rgb(37, 207, 102);
}

body {
	background-color: rgb(255, 145, 200);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 30px;
	padding: 70px;
	border-top: 15px solid rgb(255, 190, 235);
}

h1 {
	color: rgb(255, 255, 255);
	font-size: 4em;
}

h2 {
	color: rgb(37, 207, 102);
	font-size: 2em;
}


h3 {
	color: rgb(255, 145, 200); 
	font-size: 1.4em;
}

p {
	color: rgb(0, 0, 0);
	line-height: 1.5em;
}

#blogs {
	border-top: 1px solid rgb(255, 255, 255);
}

.blog-post {
	border-bottom: 1px dotted rgb(255, 255, 255);
}

.sticky {
	position: sticky;
	position: -webkit-sticky; 
	top: 0;
}

.img-container {
	height: 100px;
	width: 100px;
	float: left;
	margin-right: px;

}

.wrap {
	float: right;
	margin: 5px;
}

aside {
	background-color: rgb(243, 228, 209);
	float: right;
	width: 400px;
	margin: 0 0 15px 20px;
	padding: 15px;
	border: 1px solid black;
	text-align: center;
	flex: 4
}

section {
display: flex;
flex-direction: column;
}

article {
background-color: rgb(243, 228, 209);
padding: 15px;
}

article:nth-of-type(1) {
	flex: 4;
}

article:nth-of-type(2) {
	flex: 2;
}

footer {
color: rgb(37, 207, 102);
}